--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
opencv-python
numpy
scipy
lpips
imageio
pillow
matplotlib
scikit-learn
hdbscan
umap-learn
pandas
ninja
git+https://github.com/openai/CLIP.git
# dlib is removed for now because it often fails to build. 
# If you get an error missing 'dlib' later, we will install it separately.